<main>

    <!--COOKIE-->

    <section class="content-fluid m-0 p-0 cookies">
        <div class="row justify-content-center text-light bg-dark p-0 m-0">
            <div class="col-8 flexH ">

                <p class="mt-3">
                    <span>
                        Lorem ipsum lorem mas ipsum
                    </span>
                    <button type="button" class="btn btn-primary" id="btnCookie" >
                        Aceptar
                    </button>
                </p>
            </div>

        </div>
    </section>
    <section class="content-fluid m-0">

        <div class="row p-0 m-0  parallax ">
            <video src="/images/om/intro.mp4#t=0,5" autoplay muted></video>
        </div>
        {{!-- <div class="portada">
            <h1 class="titulo">Lorem ipsum dolor</h1>
            <h3 class="titulo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi eaque recusandae
                consectetur
                odit Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi doloremque, nemo magnam
                reprehenderit cumque dolore consequuntur at ut quos, nam odit corporis et eligendi inventore libero
                porro, dolor velit numquam!
                .</h3>

        </div> --}}
        </div>

    </section>



    <section class="content-fluid">

        <div class="row justify-content-center m-0 p-0">

            <div class="col-6 col-sm-12 col-md-12 col-lg-6 col-xl-6 imagenEnlace m-0 p-0">

                <a href="#">
                    <img class="enlace" src="/images/om/sudadera.jpeg" alt="">
                </a>

            </div>
            <div class="col-6 col-sm-12 col-md-12 col-lg-6 col-xl-6  imagenEnlace m-0 p-0">

                <a href="#">
                    <img class="enlace" src="/images/om/om_tunel.jpg" alt="">
                </a>

            </div>

        </div>

    </section>

    <section class="container-fluid">
        <div class="barraSeparadora flexH">


            <span style="">Lorem ipsum muy bonito</span>
            <a class=" ml-2 " href="#">tienda</a>


        </div>
    </section>

    <section class="content-fluid">

        <div class="row justify-content-center m-0 p-0">

            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 imagenEnlace m-0 p-0">

                <a href="#" class="producto">
                    <img class="enlace" src="/images/om/2018-12-10 09.51.49 1.jpg" alt="">
                </a>

            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2  imagenEnlace m-0 p-0">

                <a href="#" class="producto">
                    <img class="enlace" src="/images/om/2018-12-03 01.13.30 1-01.jpeg" alt="">
                </a>

            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 imagenEnlace m-0 p-0">

                <a href="#" class="producto">
                    <img class="enlace" src="/images/om/2018-12-03 01.30.16 1-02.jpeg" alt="">
                </a>

            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2  imagenEnlace m-0 p-0">

                <a href="#" class="producto">
                    <img class="enlace" src="/images/om/2018-12-10 09.51.56 1.jpg" alt="">
                </a>

            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 imagenEnlace m-0 p-0">

                <a href="#" class="producto">
                    <img class="enlace" src="/images/om/2018-12-10 09.52.11 1.jpg" alt="">
                </a>

            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2  imagenEnlace m-0 p-0">

                <a href="#" class="producto">
                    <img class="enlace" src="/images/om/2018-12-10 09.52.05 1.jpg" alt="">
                </a>

            </div>

        </div>

    </section>

    <section class="container-fluid">
        <div class="barraSeparadora flexH">


            <span style="">About us</span>


        </div>
    </section>


    <section class="content-fluid">

        <div class="row justify-content-center m-0 p-0">

            <div class="col-6 col-sm-12 col-md-12 col-lg-6 col-xl-6 imagenEnlace m-0 p-0">

                <a href="#">
                    <img class="enlace" src="/images/om/sudadera.jpeg" alt="">
                </a>

            </div>
            <div class="col-6 col-sm-12 col-md-12 col-lg-6 col-xl-6  imagenEnlace m-0 p-0">

                <a href="#">
                    <img class="enlace" src="/images/om/om_tunel.jpg" alt="">
                </a>

            </div>

        </div>

    </section>



</main>